<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547009831938-cluco4v2b03m5vud2a2t1jed3cln7top.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547009831938-cluco4v2b03m5vud2a2t1jed3cln7top</string>
	<key>API_KEY</key>
	<string>AIzaSyAurw1-Kh-jKSp_7iVp29UbiweeldIUFyg</string>
	<key>GCM_SENDER_ID</key>
	<string>547009831938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gemsPay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gemspay-3ca5f</string>
	<key>STORAGE_BUCKET</key>
	<string>gemspay-3ca5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547009831938:ios:64261852bd40b28c2af31b</string>
</dict>
</plist>